<h1> Hey players, enter your names: </h1>
<form action='/names' method='post'>
  Player A: <input value="text" name="nameA">
  Player B: <input value="text" name="nameB">
  <input type="submit" value="Play!">
</form>
